n8n/workflows/scheduled-reminder.json
{
  "name": "RMS Scheduled Reminder Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://server:5000/api/v1/internal/pending-reminders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-pending-reminders",
      "name": "Fetch Pending Reminders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-has-reminders",
      "name": "Has Reminders?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "reminders",
        "options": {}
      },
      "id": "split-reminders",
      "name": "Split Reminders",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [910, 240]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM_EMAIL || 'noreply@rms.local' }}",
        "toEmail": "={{ $json.assignedTo?.email || $json.createdBy?.email || '' }}",
        "subject": "=Reminder: Request '{{ $json.title }}' needs attention",
        "emailType": "html",
        "html": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #d97706;\">Request Needs Attention</h2>\n  <p>The following request has been waiting for action and may need your attention.</p>\n  <table style=\"width: 100%; border-collapse: collapse; margin: 16px 0;\">\n    <tr><td style=\"padding: 8px; font-weight: bold;\">Request:</td><td style=\"padding: 8px;\">{{ $json.title }}</td></tr>\n    <tr><td style=\"padding: 8px; font-weight: bold;\">Status:</td><td style=\"padding: 8px;\">{{ $json.status }}</td></tr>\n    <tr><td style=\"padding: 8px; font-weight: bold;\">Assigned To:</td><td style=\"padding: 8px;\">{{ $json.assignedTo?.name || 'Unassigned' }}</td></tr>\n    <tr><td style=\"padding: 8px; font-weight: bold;\">Created By:</td><td style=\"padding: 8px;\">{{ $json.createdBy?.name || 'Unknown' }}</td></tr>\n    <tr><td style=\"padding: 8px; font-weight: bold;\">Stale Since:</td><td style=\"padding: 8px;\">{{ $json.staleSince }}</td></tr>\n  </table>\n  <p style=\"margin-top: 16px;\"><a href=\"{{ $env.CLIENT_URL || 'http://localhost' }}/requests/{{ $json.requestId }}\" style=\"background: #d97706; color: white; padding: 10px 20px; text-decoration: none; border-radius: 4px;\">Review Request</a></p>\n</div>",
        "options": {}
      },
      "id": "email-reminder",
      "name": "Send Reminder Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1130, 240],
      "credentials": {
        "smtp": {
          "id": "CONFIGURE_ME",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://server:5000/api/v1/internal/notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"userId\": \"{{ $json.assignedTo?.userId || $json.createdBy?.userId || '' }}\",\n  \"type\": \"reminder\",\n  \"title\": \"Reminder: Request needs attention\",\n  \"message\": \"Request '{{ $json.title }}' has been in '{{ $json.status }}' status since {{ $json.staleSince }}\",\n  \"requestId\": \"{{ $json.requestId }}\",\n  \"programId\": \"{{ $json.programId }}\"\n}",
        "options": {}
      },
      "id": "notify-reminder",
      "name": "Create Reminder Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 240]
    },
    {
      "parameters": {},
      "id": "no-op-empty",
      "name": "No Reminders",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [910, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Pending Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Reminders": {
      "main": [
        [
          {
            "node": "Has Reminders?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Reminders?": {
      "main": [
        [
          {
            "node": "Split Reminders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Reminders": {
      "main": [
        [
          {
            "node": "Send Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder Email": {
      "main": [
        [
          {
            "node": "Create Reminder Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "pinData": {},
  "versionId": "",
  "triggerCount": 0,
  "tags": [
    {
      "name": "RMS",
      "createdAt": "",
      "updatedAt": ""
    }
  ],
  "active": false
}
