server/n8n-workflows/due-date-reminder-workflow.json
{
  "name": "Due Date Reminders",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 8AM Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://server:5000/api/v1/internal/pending-reminders",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "overdue"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.INTERNAL_API_KEY}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-overdue",
      "name": "Fetch Overdue Requests",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://server:5000/api/v1/internal/pending-reminders",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "upcoming"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.INTERNAL_API_KEY}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-upcoming",
      "name": "Fetch Upcoming Requests",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [750, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "reminders",
        "options": {}
      },
      "id": "split-items",
      "name": "Split Into Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.assignedTo?.email || $json.createdBy?.email }}",
        "subject": "={{ $json.daysOverdue > 0 ? '[RMS] Overdue: ' + $json.title + ' (' + $json.daysOverdue + ' days overdue)' : '[RMS] Due Soon: ' + $json.title + ' (due ' + $json.dueDate + ')' }}",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; color: #333; line-height: 1.6; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: {{ $json.daysOverdue > 0 ? '#dc2626' : '#f59e0b' }}; color: #fff; padding: 16px 20px; border-radius: 8px 8px 0 0; }\n    .header h2 { margin: 0; font-size: 18px; }\n    .body { background: #f9fafb; padding: 20px; border: 1px solid #e5e7eb; border-top: none; border-radius: 0 0 8px 8px; }\n    .field { margin-bottom: 12px; }\n    .label { font-weight: bold; color: #6b7280; font-size: 13px; text-transform: uppercase; }\n    .value { font-size: 15px; margin-top: 2px; }\n    .badge { display: inline-block; padding: 4px 12px; border-radius: 12px; font-size: 13px; font-weight: 600; }\n    .badge-overdue { background: #fef2f2; color: #dc2626; }\n    .badge-upcoming { background: #fffbeb; color: #d97706; }\n    .btn { display: inline-block; background: #2563eb; color: #fff; text-decoration: none; padding: 10px 24px; border-radius: 6px; font-weight: 600; margin-top: 16px; }\n    .footer { margin-top: 20px; font-size: 12px; color: #9ca3af; text-align: center; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h2>{{ $json.daysOverdue > 0 ? 'Overdue Request' : 'Request Due Soon' }}</h2>\n    </div>\n    <div class=\"body\">\n      <div class=\"field\">\n        <div class=\"label\">Request</div>\n        <div class=\"value\">{{ $json.title }}</div>\n      </div>\n      <div class=\"field\">\n        <div class=\"label\">Status</div>\n        <div class=\"value\">\n          <span class=\"badge {{ $json.daysOverdue > 0 ? 'badge-overdue' : 'badge-upcoming' }}\">\n            {{ $json.daysOverdue > 0 ? $json.daysOverdue + ' days overdue' : 'Due ' + $json.dueDate }}\n          </span>\n        </div>\n      </div>\n      <div class=\"field\">\n        <div class=\"label\">Due Date</div>\n        <div class=\"value\">{{ $json.dueDate }}</div>\n      </div>\n      <div class=\"field\">\n        <div class=\"label\">Current Status</div>\n        <div class=\"value\">{{ $json.status }}</div>\n      </div>\n      <a class=\"btn\" href=\"http://YOUR_APP_URL/programs/{{ $json.programId }}/requests/{{ $json.requestId }}\">View Request</a>\n    </div>\n    <div class=\"footer\">\n      <p>This is an automated reminder from the Request Management System.</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Reminder Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1250, 300],
      "credentials": {
        "smtp": {
          "id": "CONFIGURE_SMTP_CREDENTIALS",
          "name": "SMTP - Configure in n8n Credentials"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://server:5000/api/v1/internal/notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.INTERNAL_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"userId\": \"{{ $json.assignedTo?._id || $json.createdBy?._id }}\",\n  \"type\": \"reminder\",\n  \"title\": \"Due date reminder\",\n  \"message\": \"Request '{{ $json.title }}' is {{ $json.daysOverdue > 0 ? $json.daysOverdue + ' days overdue' : 'due soon' }}\",\n  \"programId\": \"{{ $json.programId }}\",\n  \"requestId\": \"{{ $json.requestId }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "create-notification",
      "name": "Create In-App Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 300]
    }
  ],
  "connections": {
    "Daily 8AM Schedule": {
      "main": [
        [
          {
            "node": "Fetch Overdue Requests",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Upcoming Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Overdue Requests": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Upcoming Requests": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Split Into Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Items": {
      "main": [
        [
          {
            "node": "Send Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder Email": {
      "main": [
        [
          {
            "node": "Create In-App Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-23T09:22:00.000Z",
  "versionId": "1",
  "active": false
}
