server/n8n-workflows/Report Generation.json
{
  "name": "Report Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "report.requested",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "dd68940d-cef3-42c5-ae46-e79aa06fc6b1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "report-requested"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:5000/api/v1/internal/report-data?reportId={{ $json.body.data.reportId }}&type={{ $json.body.data.type }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "0784db97-3b55-42c3-9df3-aae498e1c0f4",
      "name": "Fetch Report Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "HsLuO0JQpdRmNr2l",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/api/v1/internal/report-complete",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"reportId\": \"{{ $json.reportId }}\",\n  \"result\": {{ JSON.stringify($json.result) }}\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b0237701-988b-4d87-ba1c-5689b18aa32c",
      "name": "Complete Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "HsLuO0JQpdRmNr2l",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Report Data": {
      "main": [
        [
          {
            "node": "Complete Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b0b25839-527b-40cd-947c-a600f7093902",
  "meta": {
    "instanceId": "17b3b6b1f7d89e2842f178ea7c48146500c89d357df23a0c3c75f8844de22311"
  },
  "id": "FdsMp10XkwMPyxsT",
  "tags": []
}