server/n8n-workflows/report-generation-workflow.json
{
  "name": "Report Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "report.requested",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "report-requested"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://server:5000/api/v1/internal/report-data?reportId={{ $json.body.data.reportId }}&type={{ $json.body.data.type }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.INTERNAL_API_KEY}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-report-data",
      "name": "Fetch Report Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://server:5000/api/v1/internal/report-complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.INTERNAL_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"reportId\": \"{{ $json.reportId }}\",\n  \"result\": {{ JSON.stringify($json.result) }}\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "complete-report",
      "name": "Complete Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Report Data": {
      "main": [
        [
          {
            "node": "Complete Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-23T14:10:00.000Z",
  "versionId": "1",
  "active": false
}
