server/n8n-workflows/Scheduled Reminder.json
{
    "name": "RMS Scheduled Reminder Check",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 9 * * *"
                        }
                    ]
                }
            },
            "id": "schedule-trigger",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=http://rms_server:5000/api/v1/internal/pending-reminders",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "={{ $env.INTERNAL_API_KEY }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "fetch-pending-reminders",
            "name": "Fetch Pending Reminders",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                470,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.count }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "gt"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "check-has-reminders",
            "name": "Has Reminders?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                690,
                300
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "reminders",
                "options": {}
            },
            "id": "split-reminders",
            "name": "Split Reminders",
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                910,
                240
            ]
        },
        {
            "parameters": {
                "fromEmail": "={{ $env.SMTP_FROM_EMAIL || 'noreply@rms.local' }}",
                "toEmail": "={{ $json.assignedTo?.email || $json.createdBy?.email || '' }}",
                "subject": "=Reminder: Request '{{ $json.title }}' needs attention",
                "emailType": "html",
                "html": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; border: 1px solid #e2e8f0; border-radius: 8px; overflow: hidden;\">\n  <div style=\"background: #d97706; color: white; padding: 20px; text-align: center;\">\n    <h1 style=\"margin: 0; font-size: 24px;\">Action Required</h1>\n  </div>\n  <div style=\"padding: 30px;\">\n    <p style=\"font-size: 16px; color: #475569;\">This request is pending and may require your immediate attention.</p>\n    <div style=\"background: #fffbeb; padding: 20px; border-radius: 6px; border-left: 4px solid #d97706; margin: 20px 0;\">\n      <p style=\"margin: 5px 0;\"><strong>Request:</strong> {{ $json.title }}</p>\n      <p style=\"margin: 5px 0;\"><strong>Current Status:</strong> {{ $json.status }}</p>\n      <p style=\"margin: 5px 0;\"><strong>Due Date:</strong> {{ $json.dueDate }}</p>\n      <p style=\"margin: 5px 0;\"><strong>Days Overdue:</strong> {{ $json.daysOverdue }}</p>\n    </div>\n    <div style=\"text-align: center; margin-top: 30px;\">\n      <a href=\"{{ $env.CLIENT_URL || 'http://localhost' }}/programs/{{ $json.programId }}/requests/{{ $json.requestId }}\" style=\"background: #d97706; color: white; padding: 12px 24px; text-decoration: none; border-radius: 5px; font-weight: bold;\">Open Request</a>\n    </div>\n  </div>\n</div>",
                "options": {}
            },
            "id": "email-reminder",
            "name": "Send Reminder Email",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2,
            "position": [
                1130,
                240
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=http://rms_server:5000/api/v1/internal/notifications",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "={{ $env.INTERNAL_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyType": "json",
                "body": "={\n  \"userId\": \"{{ $json.assignedTo?.userId || $json.createdBy?.userId || '' }}\",\n  \"type\": \"reminder\",\n  \"title\": \"Pending Reminder\",\n  \"message\": \"Request '{{ $json.title }}' has been stale since {{ $json.staleSince }}\",\n  \"requestId\": \"{{ $json.requestId }}\",\n  \"programId\": \"{{ $json.programId }}\"\n}",
                "options": {}
            },
            "id": "notify-reminder",
            "name": "Int-Notification (system)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1350,
                240
            ]
        },
        {
            "parameters": {},
            "id": "no-op-empty",
            "name": "No Reminders",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                910,
                400
            ]
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Fetch Pending Reminders",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Pending Reminders": {
            "main": [
                [
                    {
                        "node": "Has Reminders?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Reminders?": {
            "main": [
                [
                    {
                        "node": "Split Reminders",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "No Reminders",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Reminders": {
            "main": [
                [
                    {
                        "node": "Send Reminder Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Reminder Email": {
            "main": [
                [
                    {
                        "node": "Int-Notification (system)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "instanceId": ""
    },
    "active": false
}